{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
<h1 class="my-4">Your Cart</h1>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.item.price }}</td>
            <td>${{ item.item.price * item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-end fs-5 fw-bold">Total: ${{ total }}</p>
<a href="{% url 'place_order' %}" class="btn btn-primary">Checkout</a>
{% endblock %}
